html, body, .map {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#map:focus {
    outline: #4A74A8 solid 0.15em;
}

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}
.ol-selectable {
    -webkit-touch-callout: default;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

/*Floating Action Button*/
.containerFAB {
    bottom: 0;
    position: fixed;
    margin: 1em;
    right: 0px;
}
.buttons {
    box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18),
    0px 4px 12px -7px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    display: block;
    width: 56px;
    height: 56px;
    margin: 20px auto 0;
    position: relative;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
    border: 0;
}
.buttons:active,
.buttons:focus,
.buttons:hover {
    box-shadow: 0 0 4px rgba(0,0,0,.14),
    0 4px 8px rgba(0,0,0,.28);
}
.buttons:not(:last-child) {
    width: 40px;
    height: 40px;
    margin: 20px auto 0;
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
}
.containerFAB:hover
.buttons:not(:last-child) {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    margin: 15px auto 0;
}
/* Unessential styling for sliding up buttons at differnt speeds */
.buttons:nth-last-child(1)
{
    -webkit-transition-delay: 25ms;
    transition-delay: 25ms;
}
.buttons:not(:last-child):nth-last-child(2)
{
    -webkit-transition-delay: 50ms;
    transition-delay: 20ms;
}
.buttons:not(:last-child):nth-last-child(3)
{
    -webkit-transition-delay: 75ms;
    transition-delay: 40ms;
}

.buttons:not(:last-child):nth-last-child(4)
{
    -webkit-transition-delay: 95ms;
    transition-delay: 70ms;
}
/* Show tooltip content on hover */
[tooltip]:before {
    bottom: 25%;
    font-family: arial;
    font-weight: 600;
    border-radius: 2px;
    background: #585858;
    color: #fff;
    content: attr(tooltip);
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    padding: 5px 7px;
    margin-right: 12px;
    position: absolute;
    right: 100%;
    white-space: nowrap;
}
[tooltip]:hover:before,
[tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}

.gro-loc-alert
{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

@media (max-width: 575px)
{
    .gro-loc-alert
    {
        min-width: 100%;
    }
}

.scroll {
    overflow-y: auto;
    height: 50px;
}